* {
	all: unset;
	font-family: "SauceSans3 Nerd Font";
	color: #afbea2;
}

.bar {
	padding: 5px;
	background: rgba(0,0,0,0.5);
}

.bar_element {
	padding: 0 5px 0 5px;
}

.sys_ring {
	border-radius: 10px;
}

.sys_ring_inner {
	font-size: 13px;
	margin: 7px;
}
